@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container Styles */
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Prevent horizontal overflow */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}
